@import '../spacing/spacing';
@import '../typesetting/typesetting';
@import '../color/color';
@import '../typography/typography';
@import '../border_radius/border_radius';

button {
  @include buttonTypography;
  margin: 0;
  padding:0;
  border: none;
  padding-inline: $spacing-lg;
  font-size: $font-size-md;
  box-sizing: border-box;
  font-weight: $font-weight-bold;
  background-color: $dhIndigo;
  color: $dhWhite;
  display: inline;
  min-width: $sizing-lg;
  height: $sizing-md;
  cursor: pointer;
  border-radius: $radius-sm;
}
button.btn-large{
  height: $sizing-lg;
  font-size: $font-size-lg;
}
button.btn-block{
  display: block;
}
button.btn-full-width{
  width: 100%;
}
button:hover{
  filter: invert(8%);
}
button:active{
  filter: saturate(300%);
}
.btn-dhBlue{
  background-color: $dhBlue;
  color: $dhOffWhite;
}
.btn-dhGreen{
  background-color: $dhGreen;
  color: $dhOffWhite;
}
.btn-dhRed{
  background-color: $dhRed;
  color: $dhOffWhite;
}
.btn-dhYellow{
  background-color: $dhYellow;
  color: $dhOffWhite;
}
.btn-dhIndigo{
  background-color: $dhIndigo;
  color: $dhOffWhite;
}
.btn-dhPurple{
  background-color: $dhPurple;
  color: $dhOffWhite;
}
.btn-dhPink{
  background-color: $dhPink;
  color: $dhOffWhite;
}
.btn-dhGray{
  background-color: $dhGray;
  color: $dhBlack;
}
.btn-dhWhite{
  background-color: $dhWhite;
  color: $dhBlack;
}
.btn-dhBlack{
  background-color: $dhBlack;
  color: $dhOffWhite;
}